<form  action="/"  method="POST"  >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" name="name" class="form-control" id="inputEmail4" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Descripción</label>
        <input type="text" name="description" class="form-control" id="inputPassword4" >
      </div>
      <div>
            <button type="submit" (click)="createSkill($event)"   class="btn btn-primary">

              Inserta Tecnología
          </button>
      </div>
      

     </div>
 </form>     