<form method="POST" action="/">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" name="name" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Descripción</label>
        <input type="text" name="description" class="form-control" id="inputPassword4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Fecha de Comienzo</label>
        <input type="date" name="StartDate" class="form-control" id="inputP">
      </div>
      <button type="submit"  (click)="createProject($event)" class="btn btn-primary">Crea Proyecto</button>

 </div>
 </form>     